@media screen (min-width: 900px;) {
    
}
body{
    background-color: blueviolet;
    text-align: center;
}
a{
    color: black;
}
li{
    list-style-position: inside;
    color: blanchedalmond;
}
h2{
color: aqua;
border-style: solid;
font-size: xx-large;
font-weight: 200;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}